{% extends "::admin-base.html.twig" %}

{% block title %}Administravimo skydinė{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            overflow: auto;
        }
    </style>
{% endblock %}

{% block body %}

<div class="box">
    <div class="box-header">
        <h3 class="box-title">Esamų Pratimų Sąrašas</h3>
    </div>




    <!-- /.box-header -->
    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6"></div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <table id="example2" class="table table-bordered table-hover dataTable" role="grid" aria-describedby="example2_info">
                        <thead>
                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">ID</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Pavadinimas</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Aprašymas</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Pakartojimai</th>
                            <th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Redagavimas</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for exercise in exercises %}
                        <tr role="row" class="odd">
                            <td class="sorting_1">{{ exercise.id }}</td>
                            <td>{{ exercise.title }}</td>
                            <td>{{ exercise.description }}</td>
                            <td>{{ exercise.repeats }}</td>
                            <td><a href="{{ path('exercises_edit', {'id': exercise.id|default('1')}) }}" class="btn btn-primary">Redaguoti</a>
                                <a href="{{ path('exercises_delete', {'id': exercise.id|default('1')}) }}" class="btn btn-danger">Ištrinti</a><br></td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}