{% extends 'base.html.twig' %}

{% block body %}

{% for mealPlan in mealPlans %}

{{ mealPlan.id }}
{{ mealPlan.caloriesNum }}
{{ mealPlan.goals }}

<a href="{{ path('meal_plan_edit', {'id': mealPlan.id|default('1')}) }}">Redaguoti</a>
<a href="{{ path('meal_plan_delete', {'id': mealPlan.id|default('1')}) }}">Ištrinti</a><br>

{% endfor %}

{% endblock %}

{% block stylesheets %}

{% endblock %}