{% extends "::admin-base.html.twig" %}

{% block title %}Administravimo skydinė{% endblock %}

{% block stylesheets %}
    {{ parent() }}
	<style>
		body {
			overflow: auto;
		}
	</style>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Sporto programų sąrašas</h3>
                </div>
                {% for sportPlan in sportPlans %}
                    <table class="table table-hover" style="color: black; background-color: white;">
                        <thead>
                        <tr>
                            <th>Programos id</th>
                            <th>Programos pratimų id</th>
                            <th>Programos lytis</th>
                            <th>Programa skirta</th>
                            <th>Programos aprašymas</th>
                            <th>Programos tikslas</th>
                            <th>Programos amžius</th>
                            <th>Veiksmai</th>
                        </tr>
                        </thead>
                        <tbody>
                        <td>{{ sportPlan.id }}</td>
                        <td>{{ sportPlan.exerciseList }}</td>
                        <td>{{ sportPlan.gender }}</td>
                        <td>{{ sportPlan.experience }}</td>
                        <td>{{ sportPlan.description }}</td>
                        <td>{{ sportPlan.goals }}</td>
                        <td>{{ sportPlan.ageCategory }}</td>
                        <td>
                            <a href="{{ path('sport_plan_edit', {'id': sportPlan.id|default('1')}) }}" class="btn btn-primary">Redaguoti</a>
                            <a href="{{ path('sport_plan_delete', {'id': sportPlan.id|default('1')}) }}" class="btn btn-danger">Ištrinti</a>
                        </td>
                        </tbody>
                    </table>
                    <br/>
                    Sporto plano pratimai pagal jų id: <br>
                    <table class="table table-hover" style="color: black; background-color: white;">
                        <thead>
                        <tr>
                            <th>Pavadinimas</th>
                            <th>Aprašymas</th>
                            <th>Pakartojimai</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for exerciseList in sportPlan.exerciseList|json_decode() %}
                            {% for exercise in exercises %}
                                {% if exerciseList == exercise.id %}
                                    <tr>
                                        <td>{{ exercise.title }}</td>
                                        <td>{{ exercise.description }}</td>
                                        <td>{{ exercise.repeats }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                    <hr/>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}