{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    <div class="imgcontainer">
        <img src="{{ asset('images/avatar.png') }}" alt="Avatar" class="avatar">
    </div>
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <div class="container">
        <label><b>Slapyvardis:</b></label>
        <input type="text" placeholder="Įrašykite Slapyvardį" id="username" name="_username" value="{{ last_username }}" required="required" />

        <label><b>Slaptažodis</b></label>
        <input type="password" placeholder="Įrašykite Slaptažodį" id="password" name="_password" required="required" />


        <input type="checkbox" id="remember_me" name="_remember_me" checked="checked" />
        <label for="remember_me">Prisiminti mane</label>

        <button type="submit" id="_submit" name="_submit">Prisijungti</button>

        <div class="container" style="background-color:#d7d7d7;">
            <a href="{{ path('homepage') }}"><button type="button" class="cancelbtn">Atšaukti</button></a>
        </div>
    </div>
</form>
