{% extends "::base.html.twig" %}

{% block title %}Pagrindinis - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-default" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">VIRTUALUSTRENERIS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('homepage') }}">Titulinis <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ieškoti<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('meal_plan_search') }}">Mitybos programos</a></li>
                            <li><a href="{{ path('sport_plan_search') }}">Sporto programos</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profilis <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('profile_meal_plan') }}">Mano mitybos programa</a></li>
                            <li><a href="{{ path('profile_sport_plan') }}">Mano sporto programa</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('profile_clear') }}">Pašalinti programas</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>



    {% for flash_message in app.session.flashBag.get('message') %}
        <div class="flash-notice text-center" style="padding: 20px; color: black; background-color: white;">
            <h4><p style="font-size: 25px;">{{ flash_message }}<br>Apie tai buvo informuoti atitinkami specialistai, greitu metu atsiras programa, pritaikyta Jums!</p><br/><br/>Ieškokite dar kartą spausdami <a href="{{ path('meal_plan_search') }}"><span class="label label-default">ČIA</span></a></h4>
        </div>
    {% endfor %}

    {% set error = false %}

    {% for flash_message in app.session.flashBag.get('session') %}
        <div class="flash-notice text-center" style="padding: 20px; color: black; background-color: white;">
            <h4>{{ flash_message }}<br> Ją galite surasti spausdami <a href="{{ path('meal_plan_search') }}"><span class="label label-default">ČIA</span></a></h4>
        </div>
        {% set error = true %}
    {% endfor %}



    {% if error == false %}
        <div class="main">
        {% for plan in plans %}
            <ul class="list-group" style="padding:0px;">

                <div style="text-align:center;"><img src="http://virtualustreneris.projektai.nfqakademija.lt/images/logo.png"></div>
                <h2 style="text-align: center; color: white; font-size: 40px;">Mitybos programa</h2>
                <li class="text-center" style="color: #fff;">Jūsų išvestas rekomanduojamas kalorijų skaičius paroje: {{ result }}</li>
                <br>

                {% if multichoice is not empty %}
                    <div class="text-center" style="color: white; background-color: #005983; padding: 20px;">{{ multichoice }}</div>
                {% endif %}
                <!--
            <div style="margin: 0px auto; width: 40%;">
                <li class="list-group-item text-center">Pagal jūsų parametrus išvestą kalorijų skaičių atrinkome jums programą, kuri priklauso {{ plan.caloriesNum }} kalorijų kategorijai</li>
                <li class="list-group-item text-center">Pagal jūsų tikslą, programa skirta: {{ plan.goals }}.<br>
                    Priklausomai nuo jo, metant svorį programoje dominuoja baltymų kiekis, auginant jį - angliavandenių.</li>
                <div style="text-align: center; padding: 20px;  color: white;">Atminkite: tarp valgių turi būti 2-3 valandų tarpas.<br>
                </div>
            </div>
            -->

            </ul>



            <!-- Būtų galima pridėti spalvas, pagal kurias telefono naudotojams būtų labai patogu, atskirti, kur koks produktas... -->
            <div class="container-fluid">
                <div class="row" style="color: black; background-color: white;">
                    <b style="font-size: 16px;">
                        <div class="col-sm-2" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Valgymai</div>
                        <div class="col-sm-4" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Produktai</div>
                        <div class="col-sm-1" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Baltymai</div>
                        <div class="col-sm-1" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Angliavandeniai</div>
                        <div class="col-sm-1" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Riebalai</div>
                        <div class="col-sm-1" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Cukrus</div>
                        <div class="col-sm-2" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Kalorijos</div>
                    </b>
                    <br/>
                    <hr/>
                    {% set ii = 0 %}
                    {% for foodDishId in plan.foodDishId|json_decode() %}

                        {% for dish in dishes %}
                            {% if foodDishId == dish.id %}
                                {% set ii = ii + 1 %}
                                <p style="font-size: 14px;">
                                <div class="col-sm-2" style="background-color: white; padding-bottom: 5px;">{{ ii}} valgymas</div>
                                <div class="col-sm-4" style="background-color: white; padding-bottom: 5px;">{{ dish.description }}</div>
                                <div class="col-sm-1" style="background-color: white; padding-bottom: 5px;">{{ dish.proteinNum }}</div>
                                <div class="col-sm-1" style="background-color: white; padding-bottom: 5px;">{{ dish.carbohydrateNum }}</div>
                                <div class="col-sm-1" style="background-color: white; padding-bottom: 5px;">{{ dish.fatNum }}</div>
                                <div class="col-sm-1" style="background-color: white; padding-bottom: 5px;">{{ dish.sugarNum }}</div>
                                <div class="col-sm-2" style="background-color: white; padding-bottom: 5px;">{{ dish.kcalNum }}</div>
                                </p><br>

                                    {% if dish.foodCategories == 'Pieno produktai' %}
                                        {% if curdmsg is not empty %}
                                            {% for alternative in alternatives %}
                                                {% if alternative.dishId == dish.id %}
                                                    <p style="font-size: 14px;">
                                                    <hr/>
                                                        <div class="col-sm-2" style="background-color: #005983; padding-bottom: 5px; color: white;">ALTERNATYVA!</div>
                                                        <div class="col-sm-4" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.description }}</div>
                                                        <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.proteinNum }}</div>
                                                        <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.carbohydrateNum }}</div>
                                                        <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.fatNum }}</div>
                                                        <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.sugarNum }}</div>
                                                        <div class="col-sm-2" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.kcalNum }}</div>
                                                    </p><br>

                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}

                                    {% endif %}

                                    {% if dish.foodCategories == 'Mesa' %}
                                        {% if meatmsg is not empty %}
                                            {% for alternative in alternatives %}
                                                {% if alternative.dishId == dish.id %}
                                                    <p style="font-size: 14px;">
                                                    <hr/>
                                                    <div class="col-sm-2" style="background-color: #005983; padding-bottom: 5px; color: white;">ALTERNATYVA!</div>
                                                    <div class="col-sm-4" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.description }}</div>
                                                    <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.proteinNum }}</div>
                                                    <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.carbohydrateNum }}</div>
                                                    <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.fatNum }}</div>
                                                    <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.sugarNum }}</div>
                                                    <div class="col-sm-2" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.kcalNum }}</div>
                                                    </p><br>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endif %}

                                    {% if dish.foodCategories == 'Grudinės kulturos' %}
                                        {% if grudaimsg is not empty %}
                                        {% for alternative in alternatives %}
                                            {% if alternative.dishId == dish.id %}
                                                <p style="font-size: 14px;">
                                                <hr/>
                                                <div class="col-sm-2" style="background-color: #005983; padding-bottom: 5px; color: white;">ALTERNATYVA!</div>
                                                <div class="col-sm-4" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.description }}</div>
                                                <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.proteinNum }}</div>
                                                <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.carbohydrateNum }}</div>
                                                <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.fatNum }}</div>
                                                <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.sugarNum }}</div>
                                                <div class="col-sm-2" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.kcalNum }}</div>
                                                </p><br>
                                            {% endif %}
                                        {% endfor %}
                                            {% endif %}
                                    {% endif %}

                                    {% if dish.foodCategories == 'Zuvis' %}
                                        {% if fishmsg is not empty %}
                                        {% for alternative in alternatives %}
                                            {% if alternative.dishId == dish.id %}
                                                <p style="font-size: 14px;">
                                                <hr/>
                                                <div class="col-sm-2" style="background-color: #005983; padding-bottom: 5px; color: white;">ALTERNATYVA!</div>
                                                <div class="col-sm-4" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.description }}</div>
                                                <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.proteinNum }}</div>
                                                <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.carbohydrateNum }}</div>
                                                <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.fatNum }}</div>
                                                <div class="col-sm-1" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.sugarNum }}</div>
                                                <div class="col-sm-2" style="background-color: #005983; padding-bottom: 5px; color: white;">{{ alternative.kcalNum }}</div>
                                                </p><br>
                                            {% endif %}
                                        {% endfor %}
                                            {% endif %}
                                    {% endif %}

                                {% endif %}

                        {% endfor %}
                        <br/>
                        <hr/>
                    {% endfor %}

                </div>
            </div>
            </div>
    {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}