{% extends "::base.html.twig" %}

{% block title %}Pagrindinis - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            overflow: hidden;
        }
    </style>
{% endblock %}

{% block body %}

    <nav class="navbar navbar-default" style="margin-bottom: 0px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('homepage') }}">VIRTUALUSTRENERIS</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{{ path('homepage') }}">Titulinis <span class="sr-only">(current)</span></a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ieškoti<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('meal_plan_search') }}">Mitybos programos</a></li>
                            <li><a href="{{ path('sport_plan_search') }}">Sporto programos</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profilis <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('profile_meal_plan') }}">Mano mitybos programa</a></li>
                            <li><a href="{{ path('profile_sport_plan') }}">Mano sporto programa</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('profile_clear') }}">Pašalinti programas</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>


    <div class="main">




    {% for flash_message in app.session.flashBag.get('message') %}
        <div class="flash-notice text-center" style="padding: 20px; color: black; background-color: white;">
            <h4><p style="font-size: 25px;">{{ flash_message }}<br>Apie tai buvo informuoti atitinkami specialistai, greitu metu atsiras programa, pritaikyta Jums!</p><br/><br/>Ieškokite dar kartą spausdami <a href="{{ path('sport_plan_search') }}"><span class="label label-default">ČIA</span></a></h4>
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('session') %}
        <div class="flash-notice text-center" style="padding: 20px; color: black; background-color: white;">
            <h4>{{ flash_message }}<br> Ją galite surasti spausdami  <a href="{{ path('sport_plan_search') }}"><span class="label label-default">ČIA</span></a></h4>
        </div>
    {% endfor %}

    <ul class="list-group">

    {% for plan in plans %}
        <div style="text-align:center;"><img src="http://virtualustreneris.projektai.nfqakademija.lt/images/logo.png"></div>
        <h2 style="text-align: center; color: white; font-size: 40px;">Sporto programa</h2>
        <div style="margin: 0px auto; width: 50%;">
            <p style="text-align: center; padding: 20px; color: white;" style="background-color: black; color: white;">{{ plan.description }}</p>
            <!--
                          <li class="list-group-item text-center" style="background-color: black; color: white;">Pagal jūsų tikslą, programa skirta: {{ plan.goals }}.<br>
                              Priklausomai nuo tikslo, metant svorį programoje dominuoja cardio pratimų kiekis, auginant jį - pratimų su svoriais kiekis.</li>
                          <div style="text-align: center; padding: 20px;  color: white;">Sporto programos yra atrenkamos pagal jūsų nurodytus kriterijus, todėl nerekomenduojame nuo jos nuklysti. Atminkite: raumenys auga kai ilsi, t.y. kai miegate, todėl poilsis labai svarbu.<br>
                          </div>
                          -->
        </div>


        </ul>
        {% if plan.exerciseList != NULL %}
        <div class="container-fluid">
            <div class="row" style="color: black; background-color: white; padding-top: 10px;">
                <div style="background-color: white; width: 100%;text-align: center;"><b style="padding-top: 10px; padding-bottom: 2px; font-size: 20px;">Pirma diena</b></div>
                <hr/>
                <b style="font-size: 16px;">
                    <div class="col-sm-3" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Pratimo pavadinimas</div>
                    <div class="col-sm-5" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Aprašymas</div>
                    <div class="col-sm-2" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Pakartojimai</div>
                    <div class="col-sm-1" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Demonstracija</div>
                </b>
                <br/>
                <hr/>
                {% for exerciseList in plan.exerciseList|json_decode() %}
                    {% for exercise in exercises %}
                        {% if exerciseList == exercise.id %}
                            <p style="font-size: 14px;">
                                <div class="col-sm-3" style="background-color: white; padding-bottom: 5px;">{{ exercise.title }}</div>
                                <div class="col-sm-5" style="background-color: white; padding-bottom: 5px;">{{ exercise.description }}</div>
                                <div class="col-sm-2" style="background-color: white; padding-bottom: 5px;">{{ exercise.repeats }}</div>
                                <div class="col-sm-2" style="background-color: white; padding-bottom: 5px;"><img width="100" src="{{ exercise.explanation }}"></div>
                            </p><br>
                        {% endif %}
                    {% endfor %}
                    <br/>
                    <hr/>
                {% endfor %}
            </div>
        </div>
            {% endif %}
        <br/>

        {% if plan.exerciseListTwo != NULL %}
        <div class="container-fluid">
            <div class="row" style="color: black; background-color: white; padding-top: 10px;">
                <div style="background-color: white; width: 100%;text-align: center;"><b style="padding-top: 10px; padding-bottom: 2px; font-size: 20px;">Antra diena</b></div>
                <hr/>
                <b style="font-size: 16px;">
                    <div class="col-sm-3" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Pratimo pavadinimas</div>
                    <div class="col-sm-5" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Aprašymas</div>
                    <div class="col-sm-2" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Pakartojimai</div>
                    <div class="col-sm-1" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Demonstracija</div>
                </b>
                <br/>
                <hr/>

                {% for exerciseListTwo in plan.exerciseListTwo|json_decode() %}
                    {% for exercise in exercises %}
                        {% if exerciseListTwo == exercise.id %}
                            <p style="font-size: 14px;">
                            <div class="col-sm-3" style="background-color: white; padding-bottom: 5px;">{{ exercise.title }}</div>
                            <div class="col-sm-5" style="background-color: white; padding-bottom: 5px;">{{ exercise.description }}</div>
                            <div class="col-sm-2" style="background-color: white; padding-bottom: 5px;">{{ exercise.repeats }}</div>
                            <div class="col-sm-2" style="background-color: white; padding-bottom: 5px;"><img width="100" src="{{ exercise.explanation }}"></div>
                            </p><br>
                        {% endif %}
                    {% endfor %}
                    <br/>
                    <hr/>
                {% endfor %}

            </div>
        </div>
        {% endif %}

        <br/>
        {% if plan.exerciseListThree != NULL %}
        <div class="container-fluid">
            <div class="row" style="color: black; background-color: white; padding-top: 10px;">
                <div style="background-color: white; width: 100%;text-align: center;"><b style="padding-top: 10px; padding-bottom: 2px; font-size: 20px;">Trečia diena</b></div>
                <hr/>
                <b style="font-size: 16px;">
                    <div class="col-sm-3" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Pratimo pavadinimas</div>
                    <div class="col-sm-5" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Aprašymas</div>
                    <div class="col-sm-2" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Pakartojimai</div>
                    <div class="col-sm-1" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Demonstracija</div>
                </b>
                <br/>
                <hr/>
                {% for exerciseListThree in plan.exerciseListThree|json_decode() %}
                    {% for exercise in exercises %}
                        {% if exerciseListThree == exercise.id %}
                            <p style="font-size: 14px;">
                            <div class="col-sm-3" style="background-color: white; padding-bottom: 5px;">{{ exercise.title }}</div>
                            <div class="col-sm-5" style="background-color: white; padding-bottom: 5px;">{{ exercise.description }}</div>
                            <div class="col-sm-2" style="background-color: white; padding-bottom: 5px;">{{ exercise.repeats }}</div>
                            <div class="col-sm-2" style="background-color: white; padding-bottom: 5px;"><img width="100" src="{{ exercise.explanation }}"></div>
                            </p><br>
                        {% endif %}
                    {% endfor %}
                    <br/>
                    <hr/>
                {% endfor %}
            </div>
        </div>
            {% endif %}

        {% if plan.exerciseListFour != NULL %}
            <div class="container-fluid">
                <div class="row" style="color: black; background-color: white; padding-top: 10px;">
                    <div style="background-color: white; width: 100%;text-align: center;"><b style="padding-top: 10px; padding-bottom: 2px; font-size: 20px;">Ketvirta diena</b></div>
                    <hr/>
                    <b style="font-size: 16px;">
                        <div class="col-sm-3" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Pratimo pavadinimas</div>
                        <div class="col-sm-5" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Aprašymas</div>
                        <div class="col-sm-2" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Pakartojimai</div>
                        <div class="col-sm-1" style="background-color: white; padding-top: 10px; padding-bottom: 5px;">Demonstracija</div>
                    </b>
                    <br/>
                    <hr/>

                    {% for exerciseListFour in plan.exerciseListFour|json_decode() %}
                        {% for exercise in exercises %}
                            {% if exerciseListFour == exercise.id %}
                                <p style="font-size: 14px;">
                                <div class="col-sm-3" style="background-color: white; padding-bottom: 5px;">{{ exercise.title }}</div>
                                <div class="col-sm-5" style="background-color: white; padding-bottom: 5px;">{{ exercise.description }}</div>
                                <div class="col-sm-2" style="background-color: white; padding-bottom: 5px;">{{ exercise.repeats }}</div>
                                <div class="col-sm-2" style="background-color: white; padding-bottom: 5px;"><img width="100" src="{{ exercise.explanation }}"></div>
                                </p><br>
                            {% endif %}
                        {% endfor %}
                        <br/>
                        <hr/>
                    {% endfor %}

                </div>
            </div>
        {% endif %}


    </div>
</div>

    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}